build.txt
CHANGELOG.txt
COPYING.txt
INSTALL.txt
updates.txt
UPGRADE.txt
info.php

*.swp
*.php~
old.*
Thumbs.db

data/xml/*
data/stories/*
data/media/*
data/tmp/*
data/uploads/*

data/skins/techjunkie/*

data/skins/leo/yaml/add-ons/*
data/skins/leo/yaml/navigation/*
data/skins/leo/yaml/patches/*
data/skins/leo/yaml/screen/*
data/skins/leo/yaml/debug/*
data/skins/leo/yaml/*.*
data/skins/leo/yaml/print/print_*_draft.css
!data/skins/leo/yaml/print/print_103_draft.css

plugins/editors/tinymce/*
setup/*
