@media all {
  .col3 form.yform {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }

  .col3 form.yform fieldset {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0.2em 0;
  }

  #col3 form.yform input {
      display:block;
      padding:0.3em;
      position:relative;
  }

  #col3 form.yform input#search_smt {
      background: #657494 url(../images/search_button.gif) no-repeat center center;
      display: inline;
      width: auto;
      border: 0;
  }

  #col3 form.yform input#search_ipt {
      float:left;
      width:60%;
  }

  form.yform .type-text input, 
  form.yform .type-text textarea {
      display:block;
      padding:0.3em;
      position:relative;
      width:87.5%;}

  form.yform .type-select select {
      cursor:pointer;
      display:block;
      padding:0.3em 2px 0.3em 1px;
      position:relative;
      width:90%;}
}
