# [de] Deaktiviert das Verzeichnis-Listing im Parser-Verzeichnisbaum
# [en] Deactivates the directory listing in the parser directory tree
# Options -Indexes

# [de] Setzt den Verzeichnis-Index
# [en] set the directory index
# DirectoryIndex parser.php

# [de] Webzugriff auf den Shell-Indexer verbieten
# [en] Deny web access to the shell indexer
#<Files "shell_indexer.php">
#       Deny from all
#</Files>
