a:link 		{ 	color: #006600; text-decoration: underline;}
a:visited 	{ 	color: #003300; text-decoration: underline;}
a:active 	{ 	color: #009900; text-decoration: underline;}
a:hover 	{ 	color: #FFFFFF; text-decoration: underline; background-color:#006600;}




.ft 		{	color: 			#000000; 
			background-color:	transparent;
			text-decoration: 	none; 
			font-family: 		Verdana, Arial, Georgia, Helvetica, sans-serif; 
			font-size: 		12px;}

.us 		{	color: 			#006600; 
			background-color:	transparent;
			text-decoration: 	none; 
			font-family: 		Arial, Verdana, Georgia, Helvetica, sans-serif; 
			font-size: 		18px;
			font-weight: 		bold;}

.cell		{	color: 			#000000; 
			background-color:	#DDEEDD;
			text-decoration: 	none; 
			font-family: 		Arial, Verdana, Georgia, Helvetica, sans-serif; 
			font-size: 		12px;}
			
.ncell		{	color: 			#000000; 
			text-decoration: 	none; 
			font-family: 		Arial, Verdana, Georgia, Helvetica, sans-serif; 
			font-size: 		12px;}			

.top_cell	{	color: 			#000000; 
			background-color:	#DDEEDD;
			text-decoration: 	none; 
			font-family: 		Arial, Verdana, Georgia, Helvetica, sans-serif; 
			font-size: 		12px;
			font-weight: 		bold;}


body 		{	background-color: 	#FFFFFF; 
			font-family: 		Arial, Verdana, Georgia, Helvetica, sans-serif; 
			font-size: 		12px;
			margin-top:		0px;
			margin-left:		0px;}
			
.mainmenu	{	text-decoration: 	none; 
			font-family: 		Arial, Verdana, Georgia, Helvetica, sans-serif; 
			font-size: 		10px;}
			
ul 		{ 	list-style-image:url("../doc/doc_de/gifs/point.gif") }


			
td		{	color: 			#000000; 
			font-family: 		Verdana, Arial, Georgia, Helvetica, sans-serif; 
			font-size: 		12px;}
